[Unit]
Description=QU4RTET Conductor
After=network.target
StartLimitIntervalSec=0

# if the revpi is to the left of the DIO use the below...if it is to the right
# then there will be a different bit offset for the IO ports and you must
# use the --right command line argument at the end of ExecStart and ExecStop
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pi/.virtualenvs/qu4rtet/bin/python /home/pi/quartet_conductor/quartet_conductor/microscan/inputs.py --readyOutput=2
ExecStop=/home/pi/.virtualenvs/qu4rtet/bin/python /home/pi/quartet_conductor/quartet_conductor/microscan/inputs.py --readyOutput=2 -s

[Install]
WantedBy=multi-user.target
